.p-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;

  &__item {
    .ui-image {
      aspect-ratio: 1 /1;
    }
  }

  @include media(">=md") {
    &__item {
      flex: 0 0 $project-img-width;
    }
  }

  @include media("<md") {
    flex-direction: column;
    gap: 0;
    &__item {
      flex: 1;
      margin-bottom: 2rem;

      .ui-image {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
