.brief {
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
  justify-content: center;

  &__name {
    flex: 0 1 20%;
    text-transform: uppercase;
  }
  &__description {
    flex: 1;
    max-width: 345px;
    white-space: pre-line;
  }
}
