@import "../import";

.portfolio {
  // Overlaying like position absolute
  display: grid;
  & > * {
    grid-area: 1/1;
  }

  &__bg {
    pointer-events: none;
    user-select: none;
  }

  &__container {
    z-index: 1;
    max-width: $inner-max-width * 0.8 !important;
  }

  &__projects {
    --project-padding: 12rem;

    .p-card + .p-card {
      margin-top: var(--project-padding);
    }

    .p-card {
      &:first-of-type {
        margin-top: calc(var(--project-padding) / 2);
      }
      &:last-of-type {
        margin-bottom: calc(var(--project-padding) / 2);
      }
    }

    @include media("<md") {
      --project-padding: 4rem;
    }
  }
}
