@import "../import";

$project-img-width: 550px;
$project-padding: 4rem;
$project-space-between: 5rem;
$project-max-width: calc(
  #{$project-img-width * 2} + #{$project-space-between} + #{$project-padding}
);

@import "../../components/Project/Briefs/Briefs.scss";
@import "../../components/Project/Gallery/Gallery.scss";
@import "../../components/Project/Pagination/Pagination.scss";

.project {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  &__header {
    padding-bottom: 2rem;
    overflow: hidden;
    h1 {
      white-space: pre;
      text-align: center;
    }
  }

  &__brief {
    padding: 5rem 10rem;
  }

  &__container {
    max-width: $project-max-width !important;
  }

  @include media("<md") {
    &__brief {
      padding: 2rem;
    }
  }
}
