@import "../../../styles/import";

.about {
  background-color: $black;
  min-height: 960px;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
  }

  &__portrait {
    flex: 1;
  }

  &__briefs {
    flex: 1;
    // margin-inline-start: rem;

    &-titles {
      display: flex;
    }
    &-text {
      margin-top: 1.6rem;
      white-space: pre-line;
      min-height: 300px;
      color: #fff;
    }
  }

  &__brief-title {
    .slash-divider {
      text-decoration: none !important;
      color: $dark !important;
      margin: 0 0.25rem;
    }

    &:not(&--selected):hover {
      span {
        cursor: pointer;
        color: lighten($dark, 15%);
      }
    }

    &--selected {
      span {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
