@import "../../../styles/import";

.intro {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  &__title {
    font-size: 1.375rem;
    text-transform: uppercase;
    line-height: 3.05;
    letter-spacing: 0.66px;
    margin-bottom: 2rem;
    color: $dark;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    &-count {
      margin-bottom: 1rem;
    }
    &-text {
      white-space: pre-line;
    }
  }
}
