@import "../../../styles/import";

/*! purgecss start ignore */
// Nav styles
.nav {
  --nav-color: #{$dark};

  &--light {
    --nav-color: #{$bg};
  }
}

/*! purgecss end ignore */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $nav-height;
  z-index: 1;
  overflow: hidden;

  a {
    color: var(--nav-color);
    display: inline-flex;
  }

  svg path {
    fill: var(--nav-color);
  }

  &__links {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__item {
    margin: 0;
    text-transform: uppercase;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    & + & {
      margin-left: 6.5rem;
    }
  }
}
